<article class="using-panel container">
    <section>
        <h1 class="heading  head">OTPless Panel</h1>
        <p>You can manage your apps using OTPless and have a detailed view into the verification processes right from
            the panel.</p>
    </section>
    <section class="card-group">
        <div class="row">
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div class="card-body">
                        <div class="card-title ">How Do I Set up an App?</div>
                        <ul>
                            <li><a href="/using-panel/how-do-i-connect-an-app">Introduction</a></li>
                            <li><a href="/using-panel/how-do-i-connect-an-app#ios">iOS</a></li>
                            <li><a href="/using-panel/how-do-i-connect-an-app#android">Android</a></li>
                            <li><a href="/using-panel/how-do-i-connect-an-app#web-sdk">Web SDK</a></li>
                            <li><a href="/using-panel/how-do-i-connect-an-app#rest-api">Rest API</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div class="card-body">
                        <div class="card-title ">Account Management</div>
                        <ul>
                            <li><a href="/using-panel/account-management#billing-information">Billing Information</a>
                            </li>
                            <li><a href="/using-panel/account-management#changing-your-password">Changing Your
                                    Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div class="card-body">
                        <div class="card-title ">Topping up the Account</div>
                        <ul>
                            <li><a href="/using-panel/topping-up-account#how-do-i-add-funds-to-my-account">How Do I Add
                                    Funds to My Account?</a></li>
                            <li><a href="/using-panel/topping-up-account#how-do-i-know-when-my-balance-is-running-low">How
                                    Do I Know When My Balance Is Running Low?</a></li>
                            <li><a href="/using-panel/topping-up-account#what-happens-if-my-balance-runs-out">What
                                    Happens if My Balance Runs Out?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h1 class="heading-alt sub-head">Menu Details</h1>
        <h2 id="free-verification-count" class="heading-sub sub-sub-head">Free Verification Count</h2>
        <p>You can verify 1,000 free users with OTPless. You can see the
            remaining credits on the upper left side in the Billing section page.</p>
        <div class="wrapper zoom"><img src="../../../assets/img/total_credit.PNG" class="img-fluid img"></div>
        <h2 id="balance-information" class="heading-sub sub-sub-head">Balance Information</h2>
        <p>OTPless is a prepaid system. You can top up your OTPless balance with your credit card and use the
            credits in your account. You can view your account balance on the upper left side in the Billing section
            page.</p>
        <div class="zoom wrapper"><img src="../../../assets/img/total_credit.PNG" class="img-fluid img"></div>
    </section>

    <section>
        <h1 id="what-information-is-on-the-dashboard" class="heading-alt sub-head">What Information Is on the Dashboard?
        </h1>
        <p>After the OTPless integration into your app is complete and you start verifying phone numbers, you can view
            the number of successful verifications and incomplete varification users. You can filter
            your result by the app names and dates.</p>
        <div class="zoom wrapper"><img src="../../../assets/img/dashboard.PNG" class="img-fluid img"></div>
    </section>
</article>