<article class="faq container">
    <section>
        <h1 class="heading  head">What is OTPless?</h1>
        <p>OTPless is a verification solution which allows your users to sign up for your app seamlessly, without the
            need for a phone number and one-time password for verification. Besides being reliable and customizable, it
            lets your users choose their preferred platform.</p>
    </section>
    <section>
        <h1 id="is-otpless-available-in-my-country" class="heading-alt sub-head">Is OTPless available in my country?
        </h1>
        <p>OTPless is a global solution. Verifications using WhatsApp is available throughout the world.
        </p>
    </section>
    <section>
        <h1 id="is-otpless-a-paid-service" class="heading-alt sub-head">Is this verified by WhatsApp?</h1>
        <p>Yes. We have official integration with WhatsApp and we use verified WhatsApp Business APIs.</p>
    </section>
    <section>
        <h1 id="which-messaging-platforms-can-i-use-for-verification" class="heading-alt sub-head">Do I need to setup an
            account
            or integrate with WhatsApp?</h1>
        <p>No, you don't. We take care of everything. You just need to consume our APIs.</p>
    </section>
    <section>
        <h1 id="how-does-pricing-work" class="heading-alt sub-head">Is there any additional charges to be paid to
            WhatsApp??</h1>
        <p>Absolutely not. We have a very transparent pricing structure that has no hidden charges, not even tax or
            payment gateway
            charges.</p>
    </section>
    <section>
        <h1 id="which-account-will-be-shown-to-the-users-of-my-app-during-the-verification-process"
            class="heading-alt sub-head">
            Which account will be shown to the users of my app during the verification process?</h1>
        <p>The OTPless account will be displayed to your users by default. </p>
    </section>
    <section>
        <h1 id="can-i-use-otpless-only-for-mobile-apps" class="heading-alt sub-head">Can I use OTPless only for mobile
            apps?
        </h1>
        <p>You can use OTPless for both mobile apps and web-based apps.</p>
    </section>
    <section>
        <h1 id="how-often-can-i-view-the-number-of-verifications-performed-with-otpless" class="heading-alt sub-head">
            How often
            can I view the number of verifications performed with OTPless?</h1>
        <p>You can instantaneously track the number of verifications via the dashboard display.</p>
    </section>
    <section>
        <h1 id="how-can-i-track-my-verification-expenses" class="heading-alt sub-head">How can I track my verification
            expenses?
        </h1>
        <p>Aside from the number of verifications, you can track your verification costs instantaneously on the
            dashboard display.</p>
    </section>
</article>