<article class="topping-up-the-account container">
    <section>
        <h1 class="heading  head">Topping up the Account</h1>
        <p>OTPless is a prepaid system. If you’d like to use the Professional Plan, you’ll need to add funds to your
            account.</p>
    </section>
    <section>
        <h1 id="how-do-i-add-funds-to-my-account" class="heading-alt sub-head">How Do I Add Funds to My Account?</h1>
        <p>After logging in to your OTPless account, click Billing from the menu.</p>
        <p>You can choose suitable option from screen to buy new credits.</p>
        <div class="zoom wrapper"><img src="../../../assets/img/total_credit.PNG" class="img-fluid img"></div>
    </section>
    <section>
        <h1 id="how-do-i-know-when-my-balance-is-running-low" class="heading-alt sub-head">How Do I Know When My Balance
            Is
            Running Low?</h1>
        <p>When your OTPless account balance drops below 100, we’ll send you a notification e-mail to the address
            associated with your account.</p>
    </section>
    <section>
        <h1 id="what-happens-if-my-balance-runs-out" class="heading-alt sub-head">What Happens if My Balance Runs Out?
        </h1>
        <p>After your balance reaches zero, your account remains active for 7 days and you can continue to use OTPless
            as normal during this grace period. If no funds are added within 7 days, the applications associated with
            OTPless will become inactive and you won’t be able to use
            OTPless until you add funds.</p>
    </section>
</article>