<article class="account-management container">
    <section>
        <h1 class="heading  head">Account Management</h1>
        <p>To check your account details, click on your setting from the menu.</p>
    </section>
    <section>
        <h1 id="billing-information" class="heading-alt sub-head">Billing Information</h1>
        <p>We’ll issue an invoice for the payments you make to your OTPless account. We’ll need your billing
            information for this process.</p>
    </section>
    <section>
        <h1 id="changing-your-password" class="heading-alt sub-head">Changing Your Password</h1>
        <p>If you’d like to change your OTPless dashboard password, navigate to the Setting page. Then, find the
            Password
            tab and
            click Edit to change your password. After changing your
            password, be sure that you click Save Changes.</p>
    </section>

</article>