<article class="get-started container">
    <section>
        <h1 class="heading head">What is OTPless?</h1>
        <p>OTPless is a service that offers alternative channel for phone number verification and
            it enables your users to login or signup to your apps quickly.</p>
        <p>With the flexibility and reliability of OTPless, you can opt for WhatsApp to verify
            your users’ phone numbers.</p>
        <p>With more alternative methods available, your users will be able to choose the channel they want to use
            and complete the verification steps on the platform they prefer.</p>
    </section>
    <section class="card-group">
        <div class="row">
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div class="card-body">
                        <div class="card-title">About OTPless</div>
                        <ul>
                            <li><a href="/about-us#create-an-account">Create an Account</a></li>
                            <li><a href="/about-us#our-plans">OTPless Plans</a></li>
                            <li><a href="/about-us/faq">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div class="card-body">
                        <div class="card-title">Using Panel</div>
                        <ul>
                            <li><a href="/using-panel/how-do-i-connect-an-app">How Do I Set up an App?</a>
                            </li>
                            <li><a href="/using-panel/topping-up-account">How Do I Add Funds to My Account?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card1">
                    <div class="card-body">
                        <div class="card-title">Integration</div>
                        <ul>
                            <li><a href="/start-to-verify/ios-sdk">IOS SDK</a></li>
                            <li><a href="/start-to-verify/android-sdk">Android SDK</a></li>
                            <li><a href="/start-to-verify/web-sdk">Web SDK</a></li>
                            <li><a href="/start-to-verify/rest-api">Rest API</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>